//////// Show page ////////////////////

// * {
//   border: 1px dotted red;
// }

.show-background {
  height: 480px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  // -moz-box-shadow:    inset 0px 0px 82px -6px #000000;
  // -webkit-box-shadow: inset 0px 0px 82px -6px #000000;
  // box-shadow:         inset 0px 0px 82px -6px #000000;
}


.show-poster {
  margin-top: 15px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.show-box {
  vertical-align: top;
  width: 60%;
  margin-left: 5%;
}

.show-title {
  color: #99AABB;
  font-size: 40px;
  vertical-align: top;
}

div.description{
  color: #99AABB;
}


.show-description {
  color: #99AABB;
  font-size: 16px;
}

.inline {
  display:inline-block;
}

.show-reviews {
  margin-top: 15px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  color: #99AABB;
  font-size: 40px;
  text-align: center;
}

.review-button{
  vertical-align: top;
  font-size: 30px;
  color: white;
  background-color: #c61017;
  border-color: #a50d13;  opacity: 1;
  font-family: 'Arimo', sans-serif;
  text-shadow: 0 0 20px black;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 60px;
}

.review-button:hover{
  opacity: .9;

}

.review-button:focus {
  outline: 0;

}

.review-image {
  width: 5%;
  height: 40px;
  border-radius: 50%;
}

.review-image:hover{
  border:  2px solid #72d147;

}

.review-box {
  height: 223px;
  font-size: 16px;
  text-align: left;
  vertical-align: top;
  padding-bottom: 60px;
  border-bottom: 1px solid #99AABB;
  margin-top: 20px;
}



.review-text {
  width: 94%;
  height: 223px;
  font-size: 16px;
  text-align: left;
  vertical-align: top;
  text-overflow: ellipsis;
  // white-space: nowrap;
  overflow: hidden;
}


.review-info{
  padding-top: -3px;
  margin-bottom: 20px;
  font-size: 24px;

}
.more{
  // vertical-align: bottom;
  margin-top: 143px;
  margin-right: 4px;
  float: right;
  color: #8E9EAD;
}

.more:hover{
  color: white;
}

////////////////////////// review page /////////////////////

.review-description {
  vertical-align: top;
  width: 75%;
  margin-left: 5%;
}


.review-title {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
  color: #99AABB;
}

.review-title:hover{
  color: #99CCFF;
}

.ind-review-box {
  border: 1px solid #99AABB;
}

.ind-review-text {
  width: 84%;
  font-size: 16px;
  color: #99AABB;
}

div.inline.review-text.ng-binding{
  color: #99AABB;

}

div.ng-binding{
  color: #99AABB;

}

.ind-review-comment {
  width: 15%;
  font-size: 16px;
  font-color: #99AABB;
  vertical-align: top;
}

.comment-box {
  font-size: 16px;
  font-color: #99AABB;
  //border-bottom: 1px solid 99AABB;
}

.review-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 2%;

}

.align-center{
  text-align: center;
}

/////////////////// not found page //////////////

.not-found {
  font-size: 40px;
  color: #99AABB;
  padding-left: 30%;
  padding-top: 50px;
}

/////////////////// search results page /////////////

.search-results {
  color: #99AABB;
}

.test{
  color: white;
}

///////////////////////// ranker page ///////////////

.user-list {
  width: 20%;
  vertical-align: top;
}

.title-top-shows {
  color: #99AABB;
  font-size: 20px;
  border-bottom: 1px solid #99AABB;
}

.user-choice{
  width: 79%;
}

.title-two-shows{
  color: #99AABB;
  font-size: 20px;
  border-bottom: 1px solid #99AABB;
  margin-bottom: 5px;
  text-align: center;
}

.two-shows {
  width: 39%;
  vertical-align: top;
  margin-left: 5%;
}
