@import "bulma";

html{
  background-color: #2e2e2e
  // background-color: #222222;
}
.container {
  // height: 100px;
}
.search{
  border-radius: 25px;
  margin-top: 34px;
  margin-left: 12px;
  height: 30px;
  width: 200px;

}

.nav{
  // background-color: #2e2e2e;

  background-color: #222222;

}
.nav-right {
a {
// font-size: 24px;
}
}

.nav-left {
a {
// font-size: 24px;
}
}

////////Sign Up Page//////////////////

.signup-form{
  margin-right: 400px;

}

h4{
text-align: center;
font-size: 60px;
}
input{
  margin-top: 40px;
  height: 50px;
  width: 500px;
}



.create-account{
  // background-color: #FF2450;
  margin-top: 20px;
}


///////Sign In Page/////////




///////Home Page////////////

.header {
  font-size: 80px;
  margin-top: 40px;
  color: white;
}

.poster-photos {
  height: 226px;
  width: 149px;
}


.photo-columns {
  // margin-top: 200px;
}
.poster-images{
  height: 226px;
  width: 149px;
  transition: border .1s linear;
border: 1px solid #81878E;
}

.main-content {
  margin-top: 205px;
}
