<!-- <h1 class="has-text-centered header">Placeholder text with catchy phrase</h1> -->

<figure class="image landing-container" >
  <img class="landing" ng-src="http://image.tmdb.org/t/p/w600//{{backgroundPhotos.backdrop_path}}" alt="Image" >
  <p class="catchphrase">WATCH. REVIEW. RANK. REPEAT.</p>
  <button class="join-now">JOIN NOW</p>

  <!-- <p class="catchphrase">Rate Review Rank</p> -->


  <!-- <img class="landing" ng-style="{'background-image':'url({{fullUrl}})'}" alt="Image" > -->

</figure>

<div class="columns is-multiline main-content">
  <div class="column is-2 is-one-quarter photo-columns" ng-repeat="photo in posterPhotos">
    <div class="card poster-photos">
      <div class="card-image" >
      <a href="#!/photo/{{photo.id}}">
        <figure class="image is-1by1 poster-images">
          <img class="image-main" ng-click="clickShow(photo.id)"ng-src="http://image.tmdb.org/t/p/w185//{{photo.poster_path}}"  alt="Image"
          ng-mouseover="hover=true" ng-mouseleave="hover=false">
        </figure>
      </a>
      <!-- <a href="#!/show/{{ photo.user_id }}" ng-mouseover="hover=true">
        <div class="username-hover title is-2" ng-show="hover"> {{photo.user.username}}</div>
      </a> -->
      </div>
      <!-- <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <a href="#!/user/{{ photo.user_id }}">
              <p class="title.is-1"> {{ photo.user.username }} </p>
            </a>
          </div>
        </div> -->
      </div>
    </div>
  </div>


<!-- <img src="http://image.tmdb.org/t/p/w185//{{posterPhotos}}" alt=""> -->


<!-- $rootScope.info -->
