<!-- <div class="profile-background" ng-style="{'background-image':url("http://wallpapercave.com/wp/mlGFLlB.jpg")}">
</div> -->
<div class="profile-background-container">
<img class ="profile-background" src="{{GetReviews[0].User.backgroundUrl}}">
<div class="fade-box">
  <a class="followers" ng-click="modal()"><p>Followers</p><p class="follower-count">{{GetFollowers.length}}</p></a>
  <a class="following" ng-click="FollowingModal()"><p>Following</p><p class="following-count">{{GetFollowing.length}}</p></a>


  <div class="modal" ng-class="modalToggle">
    <div class="modal-background"></div>
    <div class="modal-card">

      <section class="modal-card-body">



<div class="columns is-multiline">
  <div class="column" ng-repeat="followers in GetFollowers">
    <figure class="image is-1by1 follower-images">
      <a href="#!/profile-page/{{followers.following.id}}">
        <img class="image-main follower-image" ng-src="{{followers.following.profileUrl}}"  alt="No Image"
        ng-mouseover="hover=true" ng-mouseleave="hover=false">

      </a>
      <p class="modal-userName">{{followers.following.userName}}</p>

    </figure>

</div>
    </div>
</section>
    <button class="modal-close" ng-click="close()"></button>
      </div>





 </div>


 <div class="modal" ng-class="FollowingModalToggle">
   <div class="modal-background"></div>
   <div class="modal-card">

<section class="modal-card-body">



 <div class="columns is-multiline">
 <div class="column" ng-repeat="following in GetFollowing">
   <figure class="image is-1by1 follower-images">
     <a href="#!/profile-page/{{following.followers.id}}">
       <img class="image-main follower-image" ng-src="{{following.followers.profileUrl}}"  alt="Image"
       ng-mouseover="hover=true" ng-mouseleave="hover=false">
     </a>
   </figure>
   <p class="modal-userName">{{following.followers.userName}}</p>

 </div>
   </div>
</section>

   <button class="modal-close" ng-click="FollowingClose()"></button>
     </div>





 </div>










<p class="profile-username">{{GetReviews[0].User.userName}}</p>
</div>
<!-- <figure class="image pic-container"> -->
  <img class="profilepage-pic" ng-src="{{GetReviews[0].User.profileUrl}}">
<!-- </figure> -->

<div class="block">
  <a class="button follow-button" ng-click="follow()" ng-show="!followed" hg-hide="followed">Follow</a>
  <a class="button follow-button" ng-click="unfollow()"  ng-show="followed">Unfollow</a>

</div>

<div class="review-container">
  <!-- <div class ="show-pic-container">
      <img class ="show-pic" src="http://image.tmdb.org/t/p/w130//wQoosZYg9FqPrmI4zeCLRdEbqAB.jpg">
    </div> -->





    <div class="show-reviews">Reviews

      <div ng-repeat="review in GetReviews" class="userpage-reviewbox">
          <img class="userpage-reviewimage" ng-src="http://image.tmdb.org/t/p/w130/{{review.posterPath}}" alt="no image">
          <div class="userpage-reviewtext-title">
            <a href="#!/review/{{review.showId}}/{{review.User.id}}">
            <p class="title">{{review.showName}}<div class="inline" ng-repeat="star in review.ranking"><img class="star" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678064-star-128.png"></div>
            </a>
            <div class="userpage-reviewtext">{{review.review}}</div>
          </div>

      </div>

    </div>



    <!-- <div class="words-container">
      <h2 class="review-title">
          The Big Bang Theory
      </h1>
        <p class="review">
          Lorem Khaled Ipsum is a major key to success. You see the hedges, how I got it shaped up? It’s important to shape up your hedges, it’s like getting a haircut, stay fresh. Give thanks to the most high. You smart, you loyal, you a genius. Give thanks to the most high. The first of the month is coming, we have to get money, we have no choice. It cost money to eat and they don’t want you to eat. A major key, never panic. Don’t panic, when it gets crazy and rough, don’t panic, stay calm. They will try to close the door on you, just open it.

          Give thanks to the most high. Lion! Wraith talk. We the best. Don’t ever play yourself. I’m up to something. The key to more success is to get a massage once a week, very important, major key, cloth talk. We the best. Stay focused. How’s business? Boomin. Another one. You should never complain, complaining is a weak emotion, you got life, we breathing, we blessed. Egg whites, turkey sausage, wheat toast, water. Of course they don’t want us to eat our breakfast, so we are going to enjoy our breakfast.</p>
    </div> -->
  <div class= "comments-container">
    <!-- <a class="comments" href="#!/review/{{review.showId}}/{{review.userId}}"> Comments</p> -->
  </div>

</div>








<!-- <img class ="profile-pic" src="http://www.iymphysiotherapy.com.au/wp-content/uploads/2016/04/Profile-960x750.jpg"> -->
