

<div class="show-poster">
  <img class="inline" ng-src="http://image.tmdb.org/t/p/w130/{{info.poster_path}}">
  <div class="inline review-description">
    <div class="show-title">{{info.name}}</div>
    <div class="description">{{info.overview}}</div>
  </div>
  <div class="align-center">
     <img class="review-pic inline" ng-src="{{myReviews[0].User.profileUrl}}">
     <div class="review-title inline">{{myReviews[0].User.userName}}'s Review</div>
  </div>

  <div class="ind-review-box" ng-repeat="review in myReviews | orderBy:'-'">
     <div>{{myReviews[0].User.userName}} gives this show {{review.ranking}} stars. Here is his review:</div>
     <div class="inline ind-review-text">{{review.review}}</div>
     <div class="inline ind-review-comment" ng-click="makeComment(review)">Comment on this review</div>
     <div class="comment-box">Comments on this review:</div>
     <div ng-repeat="comment in review.Comments | orderBy:'-'">{{comment.comment}}</div>
  </div>


<div class="modal" ng-class="modalToggle">
  <div class="modal-background"></div>
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->

    <form ng-submit="enter(text)">


       <div class="field">
         <label class="label">Write your comment.</label>
         <p class="control">
           <textarea class="textarea" placeholder="Write a super comment here!" ng-model="text.comment"></textarea>
         </p>
       </div>

       <div class="field is-grouped">
         <p class="control">
           <button class="button is-primary">Submit</button>
         </p>
       </div>
     </form>


    <!-- end of bulma added element -->
  </div>
  <button class="modal-close" ng-click="close()"></button>
</div>

</div>
