

<div class="show-poster">
  <img class="inline" ng-src="http://image.tmdb.org/t/p/w130/{{info.poster_path}}">
  <div class="inline review-description">
    <div class="show-title">{{info.name}}</div>
    <div class="description">{{info.overview}}</div>
  </div>
  <div class="align-center">
    <a href=#!/profile-page/{{myReviews[0].User.id}}> <img class="review-pic inline" ng-src="{{myReviews[0].User.profileUrl}}"></a>
     <a href=#!/profile-page/{{myReviews[0].User.id}} class="review-title inline">Review by {{myReviews[0].User.userName}}</a>
  </div>

  <!-- <div class="ind-review-box" ng-repeat="review in myReviews">
     <div>{{myReviews[0].User.userName}} gives this show {{review.ranking}} stars. Here is his review:</div>
     <div class="inline ind-review-text">{{review.review}}</div>
     <div class="inline ind-review-comment" ng-click="makeComment(review)">Comment on this review</div>
     <div class="comment-box">Comments on this review:</div>
     <div ng-repeat="comment in review.Comments | orderBy:'-'">{{comment.comment}}</div>
  </div> -->


<div class="modal" ng-class="modalToggle">
  <div class="modal-background"></div>
  <div class="modal-content">
    <!-- Any other Bulma elements you want -->

    <form ng-submit="enter(text)">


       <div class="field">
         <label class="label">Write your comment.</label>
         <p class="control">
           <textarea class="textarea" placeholder="Write a comment here!" ng-model="text.comment"></textarea>
         </p>
       </div>

       <div class="field is-grouped">
         <p class="control">
           <button class="button is-primary">Submit</button>
         </p>
       </div>
     </form>


    <!-- end of bulma added element -->
  </div>
  <button class="modal-close" ng-click="close()"></button>
</div>

</div>


<article class="media user-review" ng-repeat="review in myReviews">
  <figure class="media-left">
    <!-- <p class="image is-128x128 review-profile-container"> -->
      <!-- <img class="review-profile" src="{{review.User.profileUrl}} "> -->
    <!-- </p> -->
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <!-- <strong>{{review.User.userName}}</strong> -->
        <br>
        <p class="single-review">{{review.review}}</p>
        <br>
        <small class="review-comment"><a ng-click="makeComment(review)">Comment</a> · 3 hrs</small>
      </p>
    </div>


    <article class="media" ng-repeat="comment in review.Comments | orderBy:'-' ">
      <figure class="media-left">
        <p class=" review-profile-container">
          <img class="review-profile" ng-src="{{comment.profileUrl}}">
          <h1 class="comment-username">{{comment.userName}}</h1>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
          <strong class="comment">{{comment.comment}}</strong>
            <br>
            <!-- <p>{{review.Comments.comment}}</p> -->
            <!-- <p ng-repeat="comment in review.Comments | orderBy:'-'">{{comment.comment}}</p> -->
            <br>
            <small class="reply-link"><a ng-click="makeComment(review)">Reply</a> · 2 hrs</small>
          </p>
        </div>


      </div>
    </article>

    <!-- <article class="media">
      <figure class="media-left">
        <p class="image is-48x48">
          <img src="http://bulma.io/images/placeholders/96x96.png">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong>Kayli Eunice </strong>
            <br>
            Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus lacinia non nisl id feugiat.
            <br>
            <small><a>Like</a> · <a>Reply</a> · 2 hrs</small>
          </p>
        </div>
      </div>
    </article>
  </div> -->





<!-- </article>
<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="http://bulma.io/images/placeholders/128x128.png">
    </p>
  </figure>
  <div class="media-content">
    <div class="field">
      <p class="control">
        <textarea class="textarea" placeholder="Add a comment..."></textarea>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button">Post comment</button>
      </p>
    </div>
  </div>
</article> -->
