<div class="show-background" ng-style="{'background-image':'url({{fullUrl}})'}">
</div>

<div class="show-poster">
  <img class="inline" ng-src="http://image.tmdb.org/t/p/w130/{{info.poster_path}}">
  <div class="inline show-box">
    <div class="show-title">{{info.name}}</div>
    <div class="description">{{info.overview}}</div>
  </div>
  <div class="review-link inline" ng-click="modal()">Click here<br>to review</div>

  <div class="modal" ng-class="test">
    <div class="modal-background"></div>
    <div class="modal-content">



      
      <!-- Any other Bulma elements you want -->
    </div>
    <button class="modal-close" ng-click="close()"></button>
  </div>

<!-- /// made a state that you connected ahref tag
// ngclick ran deactiavte  in the model state close deactivie yoiu have go -->


</div>

<div class="show-reviews">Reviews
<div>
