<div class="show-background" style="background-image: {{ fullUrl }}">
</div>

<div class="show-poster">
  <img class="inline" ng-src="http://image.tmdb.org/t/p/w130/{{info.poster_path}}">
  <div class="inline show-box">
    <div class="show-title">{{info.name}}</div>
    <div class="description">{{info.overview}}</div>
  </div>

  <button class="review-button " ng-click="modal()">Review</button>



  <div class="modal" ng-class="modalToggle">
    <div class="modal-background"></div>
    <div class="modal-content">

   <form ng-submit="enter(review)">

     <div class="field">
       <label class="label">Rate this show.</label>
       <p class="control">
         <span class="select">
           <select ng-model="review.rating">
             <option>1 star</option>
             <option>2 stars</option>
             <option>3 stars</option>
             <option>4 stars</option>
             <option>5 stars</option>
           </select>
         </span>
       </p>
     </div>

      <div class="field">
        <label class="label">Write your review.</label>
        <p class="control">
          <textarea class="textarea" placeholder="Write a super review here!" ng-model="review.text"></textarea>
        </p>
      </div>

      <div class="field is-grouped">
        <p class="control">
          <button class="button is-primary" ng-submit="addReview()">Submit</button>
        </p>
      </div>
    </form>

    </div>
    <button class="modal-close" ng-click="close()"></button>
  </div>

<!-- /// made a state that you connected ahref tag
// ngclick ran deactiavte  in the model state close deactivie yoiu have go -->

</div>


<div class="show-reviews">Reviews

  <div ng-repeat="review in test2" class="review-box">
    <a href="#!/profile-page/{{review.User.id}}">
      <img class="review-image inline" ng-src="{{review.User.profileUrl}}" alt="no image">
    </a>
    <!-- <a href="#!/review/{{review.showId}}/{{review.User.id}}"> -->
      <div class="inline review-text">
        <div class="review-info">{{review.User.userName}}'s review   {{review.ranking}} stars</div>
        <div class="inline review-text">{{review.review}} </div>    <a class="more" href="#!/review/{{review.showId}}/{{review.User.id}}">...More</a>


      </div>

    <!-- </a> -->

  </div>


</div>
