<img class="signup-background" src="https://images7.alphacoders.com/418/thumb-1920-418484.jpg">

<div class="sign-up-container">

<div class="columns signup-box">

    <div class="column"></div>
    <div class="column signup-form">
        <h4>Sign Up</h4>

        <form ng-submit="signUp(user)">
          <!-- <p class="control">
              <input type="text" placeholder="First Name"
                     ng-model="user.firstname" />
          </p>
          <p class="control">
              <input type="text" placeholder="Last Name"
                     ng-model="user.lastname" />
          </p>
          <p class="control">
              <input type="text" placeholder="City"
                     ng-model="user.city" />
          </p>-->
            <p class="control">
                <input type="text" placeholder="Username"
                       ng-model="user.userName" />
            </p>
            <p class="control">
                <input type="text" placeholder="Email"
                       ng-model="user.email" />
            </p>
            <p class="control">
                <input type="password" placeholder="Password"
                       ng-model="user.hashedPassword" />
            </p>
            <p class="control">
                <button  class=" Join">Join ShowRanker</button>
            </p>
        </form>
    </div>
</div>
</div>
