<div class="columns signup-box">
    <div class="column"></div>
    <div class="column signup-form">
        <h4>Sign Up</h4>

        <form ng-submit="signUp(user)">

            <p class="control">
                <input type="text" placeholder="Username"
                       ng-model="user.username" />
            </p>
            <p class="control">
                <input type="text" placeholder="Email"
                       ng-model="user.email" />
            </p>
            <p class="control">
                <input type="password" placeholder="Password"
                       ng-model="user.password" />
            </p>
            <p class="control">
                <button class="button is-primary create-account">Create My Account</button>
            </p>
        </form>
    </div>
</div>
