<img class="signin-background" src="https://images5.alphacoders.com/287/thumb-1920-287897.jpg">
<div class="columns signin-box">
    <div class="column"></div>
    <div class="column signup-form">
        <h4>Sign In</h4>

        <form ng-submit="signIn(user)">


            <p class="control">
                <input type="text" placeholder="Email"
                       ng-model="user.email" />
            </p>
            <p class="control">
                <input type="password" placeholder="Password"
                       ng-model="user.hashedPassword" />
            </p>
            <p class="control">
                <button class="Join">Sign In</button>
            </p>
        </form>
    </div>
</div>
