<div class="profile-background-container">
<!-- <object data="http://wallpapercave.com/wp/BOMZ8R8.jpg" type="image/jpg"> -->
  <img class ="profile-background" src="{{user[0].backgroundUrl}}" alt="Edit Your Profile to Add a Background and Profile Image">

<!-- </object> -->




<div class="fade-box">
  <a class="followers" ng-click="FollowerModal()"><p>Followers</p><p class="follower-count">{{GetFollowers.length}}</p></a>
  <a class="following" ng-click="FollowingModal()"><p>Following</p><p class="following-count">{{GetFollowing.length}}</p></a>


  <div class="modal" ng-class="FollowerModalToggle">
    <div class="modal-background"></div>
    <div class="modal-card">

      <section class="modal-card-body">



<div class="columns is-multiline">
  <div class="column is-one-quarter" ng-repeat="followers in GetFollowers">
    <figure class="image is-1by1 follower-images">
      <a href="#!/profile-page/{{followers.following.id}}">
        <img class="image-main follower-image" ng-src="{{followers.following.profileUrl}}"  alt="Image"
        ng-mouseover="hover=true" ng-mouseleave="hover=false">

      </a>
    </figure>
    <p class="modal-userName">{{followers.following.userName}}</p>

</div>
    </div>
</section>
    <button class="modal-close" ng-click="Followerclose()"></button>
      </div>





 </div>


 <div class="modal" ng-class="FollowingModalToggle">
   <div class="modal-background"></div>
   <div class="modal-card">

<section class="modal-card-body">



 <div class="columns is-multiline">
 <div class="column is-one-quarter" ng-repeat="following in GetFollowing">
   <figure class="image is-1by1 follower-images">
     <a href="#!/profile-page/{{following.followers.id}}">
       <img class="image-main follower-image" ng-src="{{following.followers.profileUrl}}"  alt="Image"
       ng-mouseover="hover=true" ng-mouseleave="hover=false">
     </a>
   </figure>
   <p class="modal-userName">{{following.followers.userName}}</p>

 </div>
   </div>
</section>

   <button class="modal-close" ng-click="FollowingClose()"></button>
     </div>





 </div>


 </div>




<p class="username">{{user[0].userName}}</p>




<section class="modal-card-body news-feed">
    <header class="modal-card-head news-feed-head">
        <p class="modal-card-title">Recent Activity</p>
    </header>

      <div ng-repeat="item in news | orderBy:'-' ">
        <div><p class ="activity">
           <a href="#!/profile-page/{{item.User.id}}">
             <img class="news-image" ng-src="{{item.User.profileUrl}}">
           </a>
           {{item.User.userName}}
           {{item.newsType}}
           {{item.Relationship.followedId}}
           at {{item.createdAt}}
          </p>
        </div>
        <br>
        <hr>
    </div>
 </section>




<figure class="image pic-container">
  <!-- <object data="../images/Default-Profile.jpg"> -->
  <img class="profile-pic" src="{{user[0].profileUrl}}">
  <!-- <a class="change" href=""> Change Image</a> -->
</figure>




  <div class ="profile">

    <button class="addphoto"  ng-click="modal()" >Edit Your Profile</button>
  </div>


  <div class="modal" ng-class="modalToggle">
    <div class="modal-background"></div>
    <div class="modal-content">

      <div class="columns form-container">
          <div class="column"></div>
          <div class="column ">
            <form ng-submit="addProfilepic(profile)">
              <p class="control">
                  <input type="text" placeholder="http://you"
                       ng-model="profile.profileUrl" />
              </p>

              <p class="control">
                  <button class="add-picture is-primary">Change Profile Picture</button>
              </p>
            </form>
            <form ng-submit="addProfilepic(profile)">
              <p class="control">
                  <input type="text" placeholder="http://background"
                       ng-model="profile.backgroundUrl" />
              </p>

              <p class="control">
                  <button class="add-picture is-primary">Change Background Picture</button>
              </p>
            </form>
          </div>
          <div class="column"></div>
      </div>
    </div>
    <button class="modal-close" ng-click="close()"></button>
      </div>



















    <div class="userpage-reviews">Reviews

      <div ng-repeat="review in UserReviews" class="userpage-reviewbox">

          <img class="userpage-reviewimage" ng-src="http://image.tmdb.org/t/p/w130/{{review.posterPath}}" alt="no image">
        <a href="#!/review/{{review.showId}}/{{review.userId}}">
          <div class="userpage-reviewtext-title">
          <p class="title inline">{{review.showName}}   <div class="inline" ng-repeat="star in review.ranking"><img class="star" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678064-star-128.png"></div>
          <p>

            <p class="userpage-reviewtext">{{review.review}}</p>

          </div>

        </a>

      </div>

    </div>




    <section class="modal-card-body news-feed">
        <header class="modal-card-head news-feed-head">
            <p class="modal-card-title">Recent Activity</p>
        </header>
          <div ng-repeat="item in news | orderBy:'-' ">
            <div><p class ="activity">  <img class="news-image" ng-src="{{item.User.profileUrl}}">{{item.User.userName}} {{item.newsType}} {{item.Relationship.followedId}} at {{item.createdAt}}</p></div>
            <br>
            <hr>
        </div>
     </section>

<!--
<div class="columns feed-followers-container">
  <div class="column is-one-third feed">
    <h1>Feed</h1>
  </div>




  <div class="column is-half followers ">
    <h1>Followers</h1>
        <div class="columns is-desktop">
            <div class="column">          <img class="pic" src="http://wallpapercave.com/wp/mlGFLlB.jpg" alt="Image" >
</div>
            <div class="column">          <img class="pic" src="http://wallpapercave.com/wp/mlGFLlB.jpg" alt="Image" >
</div>
            <div class="column">          <img class="pic" src="http://wallpapercave.com/wp/mlGFLlB.jpg" alt="Image" >
</div>
            <div class="column">          <img class="pic" src="http://wallpapercave.com/wp/mlGFLlB.jpg" alt="Image" >
</div>
<div class="column">          <img class="pic" src="http://wallpapercave.com/wp/mlGFLlB.jpg" alt="Image" >
</div>
<div class="column">          <img class="pic" src="http://wallpapercave.com/wp/mlGFLlB.jpg" alt="Image" >
</div>
<div class="column">          <img class="pic" src="http://wallpapercave.com/wp/mlGFLlB.jpg" alt="Image" >
</div>
<div class="column">          <img class="pic" src="http://wallpapercave.com/wp/mlGFLlB.jpg" alt="Image" >
</div>
        </div>
        <p class="more">More</p>
  </div>

</div> -->
