<div class="profile-background-container">
<img class ="profile-background" src="{{user[0].User.backgroundUrl}}">



<div class="fade-box">
  <a class="followers" ng-click="Followermodal()">Followers:{{GetFollowers.length}}</a>
  <a class="following" ng-click="FollowingModal()">Following:{{GetFollowing.length}}</a>


  <div class="modal" ng-class="modalToggle">
    <div class="modal-background"></div>
    <div class="modal-card">

      <section class="modal-card-body">



<div class="columns is-multiline">
  <div class="column" ng-repeat="followers in GetFollowers">
    <figure class="image is-1by1 follower-images">
      <!-- <a href="#!/show/{{photo.id}}"> -->
        <img class="image-main follower-image" ng-src="{{followers.following.profileUrl}}"  alt="Image"
        ng-mouseover="hover=true" ng-mouseleave="hover=false">

      <!-- </a> -->
    </figure>
    <p class="modal-userName">{{followers.following.userName}}</p>

</div>
    </div>
</section>
    <button class="modal-close" ng-click="Followerclose()"></button>
      </div>





 </div>


 <div class="modal" ng-class="FollowingModalToggle">
   <div class="modal-background"></div>
   <div class="modal-card">

<section class="modal-card-body">



 <div class="columns is-multiline">
 <div class="column" ng-repeat="following in GetFollowing">
   <figure class="image is-1by1 follower-images">
     <!-- <a href="#!/show/{{photo.id}}"> -->
       <img class="image-main follower-image" ng-src="{{following.followers.profileUrl}}"  alt="Image"
       ng-mouseover="hover=true" ng-mouseleave="hover=false">
     <!-- </a> -->
   </figure>
 </div>
   </div>
</section>

   <button class="modal-close" ng-click="FollowingClose()"></button>
     </div>





 </div>


 </div>




<p class="username">{{user[0].User.userName}}</p>









<figure class="image pic-container">
  <!-- <object data="../images/Default-Profile.jpg"> -->
  <img class="profile-pic" src="{{user[0].User.profileUrl}}">
  <!-- <a class="change" href=""> Change Image</a> -->
</figure>




  <div class ="profile">

    <a class="addphoto"  ng-click="modal()" >Add Image</a>
  </div>


  <div class="modal" ng-class="FollowerModalToggle">
    <div class="modal-background"></div>
    <div class="modal-content">
    <!-- <div class =" addprofile" ng-show="myVar"> -->
    <!-- <div class =" addprofile" > <!--  User this to see form without toggle --> -->

      <div class="columns form-container">
          <div class="column"></div>
          <div class="column ">
            <form ng-submit="addProfilepic(profile)">
              <p class="control">
                  <input type="text" placeholder="http://you"
                       ng-model="profile.profileUrl" />
              </p>

              <p class="control">
                  <button class="add-picture is-primary">Change Profile Picture</button>
              </p>
            </form>
            <form ng-submit="addProfilepic(profile)">
              <p class="control">
                  <input type="text" placeholder="http://background"
                       ng-model="profile.backgroundUrl" />
              </p>

              <p class="control">
                  <button class="add-picture is-primary">Change Background Picture</button>
              </p>
            </form>
          </div>
          <div class="column"></div>
      </div>
    <!-- </div> -->
    </div>
    <button class="modal-close" ng-click="close()"></button>
      </div>



















    <div class="userpage-reviews">Reviews

      <div ng-repeat="review in user" class="userpage-reviewbox">

          <img class="userpage-reviewimage" ng-src="http://image.tmdb.org/t/p/w130/{{review.posterPath}}" alt="no image">
        <a href="#!/review/{{review.showId}}/{{review.userId}}">
          <div class="userpage-reviewtext-title">
          <p class="title">{{review.showName}} {{review.ranking}}<img class="star" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678064-star-128.png">
          <p>

            <!-- <div class="ranking-container"> {{review.ranking}}<img class="star" src="https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678064-star-128.png"> -->
            <p class="userpage-reviewtext">{{review.review}}</p>

          </div>

        </a>

      </div>

    </div>








<!--
<div class="columns feed-followers-container">
  <div class="column is-one-third feed">
    <h1>Feed</h1>
  </div>




  <div class="column is-half followers ">
    <h1>Followers</h1>
        <div class="columns is-desktop">
            <div class="column">          <img class="pic" src="http://wallpapercave.com/wp/mlGFLlB.jpg" alt="Image" >
</div>
            <div class="column">          <img class="pic" src="http://wallpapercave.com/wp/mlGFLlB.jpg" alt="Image" >
</div>
            <div class="column">          <img class="pic" src="http://wallpapercave.com/wp/mlGFLlB.jpg" alt="Image" >
</div>
            <div class="column">          <img class="pic" src="http://wallpapercave.com/wp/mlGFLlB.jpg" alt="Image" >
</div>
<div class="column">          <img class="pic" src="http://wallpapercave.com/wp/mlGFLlB.jpg" alt="Image" >
</div>
<div class="column">          <img class="pic" src="http://wallpapercave.com/wp/mlGFLlB.jpg" alt="Image" >
</div>
<div class="column">          <img class="pic" src="http://wallpapercave.com/wp/mlGFLlB.jpg" alt="Image" >
</div>
<div class="column">          <img class="pic" src="http://wallpapercave.com/wp/mlGFLlB.jpg" alt="Image" >
</div>
        </div>
        <p class="more">More</p>
  </div>

</div> -->
